# macOS Files
.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Exclude raw databases
01_Data/01_Raw/**/*.csv
!01_Data/01_Raw/03_Calculadora/salario_minimo.csv
01_Data/01_Raw/**/*.xlsx
01_Data/01_Raw/**/*.rdata
01_Data/01_Raw/**/*.rds

# Exclude clean databases
01_Data/02_Clean/**
!01_Data/02_Clean/.gitkeep

# Exclude working databases
01_Data/03_Working/**
!01_Data/03_Working/.gitkeep

# Exclude Campañas
01_Data/04_Campanias/**
!01_Data/04_Campanias/.gitkeep